html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* font syle */

@font-face {
  font-family: Montserrat-Regular;
  src: url(/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(/fonts/OpenSans-Regular.ttf);
}

button:focus {
  outline: none;
}

/* header section */

#__next {
  height: 100%;
}

.header-section {
  background-color: #0b1941;
  height: 90px;
  width: 100%;
  max-width: 100%;
}

.row-kl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-kl-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.col-kl-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
}

.col-kl-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
}

.table-kl {
  border-collapse: collapse;
  table-layout: auto;
  border: 1px solid #dee2e6;
  width: 100%;
}

.table-kl {
  margin-bottom: 1rem;
  color: #212529;
}

.table-kl-border-striped {
  overflow-y: auto;
}

.table-kl-border-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-kl th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border: 1px solid #d2e1ea;
}

.table-kl td, .table-kl th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

/* slider animation */

.bg-default {
  background-color: #053661;
}

.sidenav {
  height: 100%;
  width: 214px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #053661;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 0;
  padding-right: 362px !important;
  border-right: 1px solid #ccc;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari and Chrome */
  -o-transition: all 0.5s;
  /* Opera */
  -ms-transition: all 0.5s;
}

.sidenav li {
  text-decoration: none;
  list-style: none;
  padding: 15px 15px;
  transition: 0.3s;
  background-image: linear-gradient(180deg, #fff, #d2e1ea);
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

.cardcustomheader {
  background-image: linear-gradient(180deg, #fff, #d2e1ea);
}

.cardcustomheader button:hover, .cardcustomheader button:focus {
  text-decoration: none;
  color: #8e9294;
  box-shadow: none;
}

.cardcustomheader h5 button {
  color: #8e9294;
  font-size: 14px;
  line-height: 16px;
}

.bg-colorli {
  background-image: linear-gradient(180deg, #fff, #80ade5) !important;
  position: relative;
  margin-bottom: 20px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.dropdown-toggle-menu {
  position: absolute;
  top: 10px;
  left: 5px;
  color: #000 !important;
  background-color: transparent !important;
  height: 35px;
  border-radius: 2px;
  border: 1px solid #8e9294;
}

.dropdown-toggle-menu:focus, .dropdown-toggle-menu:hover {
  color: #000 !important;
  background-color: transparent !important;
  outline: none;
  box-shadow: none !important;
}

.form-field {
  padding: 5px 0;
  margin-left: 25px;
  width: 160px;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  border: 1px solid #8e9294;
}

.sidenav a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #8e9294;
  display: block;
  transition: 0.3s;
  margin-bottom: 5px;
}

.sidenav a:hover {
  color: #8e9294;
}

.rdt_TableHeadRow div {
  font-weight: bold;
  font-size: 14px;
}

.sidenav .closebtn {
  position: absolute;
  top: 16px;
  right: 11px;
  font-size: 25px;
  margin-left: 0;
}

#main {
  transition: margin-left 0.5s;
  margin-left: 280px;
}

/* fliter section */

.apply-section {
  text-align: center;
  background-color: #ccc;
  height: 60px;
  line-height: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.apply-section button {
  /* background-color: #19739f; */
  background-image: linear-gradient(180deg, #2480ad, #19739f) !important;
  height: 38px;
  line-height: 10px;
  padding: 10px 15px;
  margin-left: 5px;
  border: none;
  border-radius: 8px;
  color: #fff;
}

label {
  margin-top: 0;
  color: #8e9294;
}

.dropbtn {
  background-color: transparent;
  border: none;
  border-radius: none;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.expandedRowComponent {
  padding: 16px;
  display: block;
  width: 100%;
  font-size: smaller;
}

/* redesign css */

button:hover {
  cursor: pointer;
}

.btn-arrow-icon {
  border: none;
  background-color: #C4C4C4;
  height: 41px;
  width: 38px;
  position: absolute;
  top: 71px;
  border-radius: 0px 4px 4px 0px;
  z-index: 1;
}

.btn-arrow-icon-right {
  border: none;
  background-color: #C4C4C4;
  height: 41px;
  width: 38px;
  position: absolute;
  top: 71px;
  border-radius: 4px 0px 0px 4px;
  z-index: 1;
}

.btn-arrow-icon-right {
  background-color: #C4C4C4;
  position: absolute;
  top: 71px;
  right: 0;
}

.btn-arrow-icon img {
  background-color: #C4C4C4;
  transform: rotate(180deg);
  position: relative;
  top: -2px;
}

.btn-arrow-icon-1 {
  position: absolute;
  right: 22px;
  top: 28px;
  border: none;
}

.btn-arrow-icon-2 {
  position: absolute;
  left: 22px;
  top: 28px;
  border: none;
}

.btn-arrow-icon-2 img {
  transform: rotate(180deg);
}

.sidebar-left {
  background-color: #f2f2f2;
  width: 300px;
  height: 100%;
  position: relative;
  left: 0;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari and Chrome */
  -o-transition: all 0.5s;
  /* Opera */
  -ms-transition: all 0.5s;
}

.pt-info-noti {
  padding: 0 57px;
}

.sidebar-right {
  background-color: #f2f2f2;
  width: 421px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari and Chrome */
  -o-transition: all 0.5s;
  /* Opera */
  -ms-transition: all 0.5s;
}

.col-30 {
  max-width: 229px !important;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}

.col-82 {
  max-width: 82%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 82%;
  flex: 0 0 82%;
}

.common-mr-pd {
  padding-left: 15px;
  padding-top: 45px;
  padding-right: 42px;
}

.logo-section {
  padding-top: 15px;
  padding-bottom: 65px;
}

.logo-section {
  margin-right: 45px;
}

.nav-list ul {
  padding: 0;
  list-style-type: none;
}

.nav-list li {
  padding: 10px 0;
  position: relative;
  margin-left: 0;
  text-align: left;
  height: 55px;
}

.nav-list li a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18.06px;
  line-height: 28px;
  color: #adadad;
  padding-left: 52px;
}

.nav-list li a img {
  margin-right: 11.5px;
  /* position: absolute; */
  left: 0;
  top: 15px;
}

.nav-list li a span {
  padding-left: 60px;
}

/* .nav-list li:hover {
  border-left: 5px solid #8DC6F7;
  height: 63px;
  color: #8DC6F7;
} */

/* .nav-list li a:hover {
  color: #0D65B3;
} */

.nav-list .active-nav-item a {
  color: #0d65b3;
}

.active-nav-item {
  color: #0d65b3;
  /* border-left: 5px solid #8DC6F7; */
  height: 63px;
}

.contract-title-name h2, .contract-modal-h2 {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25.01px;
  line-height: 36px;
  color: #0d65b3;
}

.contract-title-name h2 {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #000;
}

.btn-setting {
  text-align: right;
}

.btn-setting button {
  border: none;
  background-color: transparent;
}

.btn-color-common {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0d65b3;
}

/* search box */

.search-box {
  display: flex;
  width: 396px;
  border: none;
  position: relative;
  height: 48px;
  background: #fff;
  font-family: OpenSans-Regular;
  border-radius: 20px;
  /* box-shadow: 0 3px 5px #BEB4FF; */
  color: #c7c7c7;
  font-weight: 600;
  cursor: text;
  border: 1px solid #0d65b3;
}

.search-box input {
  position: absolute;
  font-family: OpenSans-Regular;
  z-index: 0;
  width: 390px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #c7c7c7;
  font-weight: 600;
  background: #fff;
  padding-left: 60px;
}

.search-box input::placeholder {
  color: #c7c7c7;
}

.search-box input:focus {
  outline: none;
}

.search-box input:focus+.search {
  transform: perspective(400px) rotateY(89deg);
  padding: 3px 0;
  opacity: 0;
}

.search-box img.search {
  height: auto;
  width: auto;
  border: 5px solid #fff;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  /* transform: rotatez(-45deg);
  top: 13px; */
  left: 5%;
  transition: 0.2s all;
  transform-style: preserve-3d;
  perspective: 400px;
}

.common-pd {
  padding-top: 41px;
}

.search-box img.search::after {
  content: "";
  display: block;
  width: auto;
  height: auto;
  background: #fff;
  position: absolute;
  left: calc(50% - 2px);
  border-radius: 10px;
  top: 101%;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.fliter-issue {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  margin-left: 26px;
}

.fliter-issue button {
  font-family: OpenSans-Bold;
  font-style: normal;
  font-weight: Bold;
  font-size: 16px;
  line-height: 24px;
  color: #0d65b3;
  background: #fff;
  border: 2px solid #0d65b3;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px 24px;
  height: 40px;
}

.fliter-issue button:first-child {
  margin-right: 24px;
}

.fliter-issue button span {
  font-weight: bold;
  font-family: OpenSans-Bold;
}

.fliter-issue button img {
  margin-right: 12px;
}

/* new filter */

.newdesignfilter-btn {}

.table-responsive {
  /* white-space: nowrap;  */
}

.table {
  border-collapse: separate;
  border-spacing: 0 18px;
  width: 100%;
  max-width: 100%;
}

/* .table tr th:first-child {
  text-align: center;
  width: 150px;
}
.table tr td:first-child {
  text-align: center;
  width: 150px;
} */

.table tr th {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
  color: #000;
}

.table tr th img {
  margin-left: 12px;
  vertical-align: middle;
}

.table th, table td {
  border: none !important;
}

.box-none {
  box-shadow: none !important;
  background: transparent !important;
  border: none !important;
}

.table tr {
  background: #fbfbfb;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px;
}

.table thead th {
  border-bottom: none;
  /* width: 300px; */
  padding: 10px 5px;
  padding-left: 15px;
  height: 56px;
}

.table tr td {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091a29;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 56px;
  padding-left: 15px;
  background-color: transparent;
}

.table tr th:first-child {
  padding-left: 13px;
}

.table tr td:first-child {
  padding-left: 15px;
}

.add-btn {
  background: #fbfbfb;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #0d65b3;
  font-size: 18px;
  padding: 0 9px;
  border: none;
  position: absolute;
  right: 15px;
}

.w-20 {
  width: 20%;
}

.w-11 {
  width: 11%;
}

.w-22 {
  width: 22%;
}

.w-5 {
  width: 5%;
}

.w-20 {
  width: 6%;
}

.w-15 {
  width: 15%;
}

.w-6 {
  width: 6%;
}

.btn-hover:hover {
  cursor: pointer;
}

/* checkbox */

.checkbox {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  cursor: pointer;
  margin-bottom: 0;
  margin-left: 0 !important;
  margin-right: 6px !important;
  position: relative;
  top: -3px;
}

.dropdwon-grey {
  vertical-align: text-top !important;
  margin-left: 0 !important;
}

.checkbox:hover .checkbox__check {
  background: #fff;
}

.checkbox__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:checked+.checkbox__check {
  background: #fff;
  stroke-dashoffset: 0;
}

.checkbox__check polyline {
  position: relative;
  left: 5px;
}

.checkbox__check {
  stroke: #c7c7c7;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  stroke-linecap: round;
  /* stroke-width: 0.2rem; */
  stroke-width: 3px;
  border-radius: 0.2rem;
  fill: none;
  transition: background 0.4s, stroke-dashoffset 0.6s;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 20px;
  height: 20px;
}

.fliter-icon-2 {
  display: none;
}

.fliter-icon-1 {
  display: inline-block;
}

.filter-component {
  font-weight: normal !important;
  font-family: OpenSans-Regular !important;
}

/* modal popup */

.custom-map-modal .modal-content {
  padding-left: 68px;
  padding-right: 101px;
}

.custom-map-modal .modal-content .close {
  position: absolute;
  right: 27px;
  top: 18px;
  color: #0d65b3;
  opacity: 1;
}

.contract-common-title h4 {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #5c5c5c;
  margin: 0;
}

.contract-common-title h2 {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25.01px;
  line-height: 36px;
  color: #0d65b3;
  margin: 0;
}

/* nav-pils */

.mt-pils {
  margin-top: 61px;
}

.nav-pills .nav-link-custom.active, .nav-pills .show>.nav-link-custom {
  color: #0d65b3;
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  background-color: transparent !important;
}

a:hover {
  text-decoration: none !important;
}

.nav-link-custom {
  margin-left: 52px;
  margin-right: 52px;
  padding-bottom: 6px;
  color: #0d65b3 !important;
}

.nav-link-custom:first-child {
  margin-left: 0;
}

.nav-item .nav-link-custom {
  width: auto;
  height: 50px;
  position: relative;
  z-index: 1;
}

.nav-item .active:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  height: 1px;
  width: 70%;
  /* percentage of the element width*/
  border-bottom: 5px solid #2282d6;
  margin-top: 1.2em;
  /*move the border below the text*/
}

.column-width-pills {
  width: 100%;
  min-height: 310px;
  margin-top: 90px;
  background: #fbfbfb;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.tab-custom-content {
  margin-top: 90px;
  margin-bottom: 124px;
}

/* search */

.dropdown-item.active, .dropdown-item:active {
  background-color: transparent !important;
}

.setting-icon {
  display: none;
}

.responsive-block {
  display: none !important;
}

.desktop-block {
  display: block !important;
}

.page-item:first-child {
  padding-right: 10px;
}

.range-section {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #8f8f8f;
  margin-left: 10px;
}

.page-link-custom {
  border: none;
  color: #053661;
  background: #fbfbfb;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.custom-sorting {
  background: #fbfbfb;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px 15px;
}

.no-boxshadow {
  border-spacing: 0 9px;
}

.no-boxshadow tr td {
  padding: 0;
  height: 33px;
}

.no-boxshadow tr {
  box-shadow: none;
  background-color: none;
  background-color: transparent;
}

.table-contractvalue .table th, .table-contractvalue .table td {
  padding: 15px 0;
}

.table-contractvalue .table {
  padding: 0 15px;
}

/* Notfication css */

.support-searchbox {
  border: 2px solid #dedede;
  border-radius: 4px;
}

.search-box img.searchicon-support {
  position: absolute;
  right: 5%;
  left: auto;
  top: 13px;
  border: none;
}

.support-searchbox input {
  padding-left: 15px;
}

.nav-link-custom {
  font-size: 20px;
  line-height: 32px;
}

.nav-pills-support .nav-link-custom.active {
  color: #000 !important;
  font-family: OpenSans-Bold;
  font-weight: bold;
}

.nav-pills-support .nav-link-custom {
  color: #adadad !important;
  font-family: OpenSans-Bold;
  font-weight: bold;
}

.tab-custom-supportsection {
  margin-top: 44px;
}

.col-width-suportsection {
  min-height: 113px;
  margin-top: 0;
  padding: 15px;
}

.row-height-supportsection {
  min-height: 113px;
  margin-bottom: 16px;
  background: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.userPicSection {
  text-align: center;
}

.userPicSection img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.date-section {
  margin-bottom: 6px;
}

.date-section h6 {
  font-family: OpenSans-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 10.24px;
  line-height: 125%;
  color: #adadad;
  margin-bottom: 0;
}

.msg-contentsection p {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #363636;
}

.seemore-section h6 {
  font-family: OpenSans-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
  color: #adadad;
}

.seemore-section h6 img {
  margin-left: 9.5px;
}

/* newdesgin */

.grid-section {
  text-align: right;
}

.grid-section img:first-child {
  width: 18px;
  margin-right: 15px;
}

.grid-section img:last-child {
  width: 24px;
}

.userProSection {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
}

.profile-pic {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
}

.bold-text {
  font-weight: bold !important;
  font-family: OpenSans-Bold !important;
  font-style: normal !important;
}

/* active row */

.active-row {
  border: 2px solid #0d65b3;
  border-radius: 1px;
}

.modal-striped-table tr th {
  padding: 10px 0;
}

.modal-striped-table tr td {
  padding: 10px 0;
}

.customized-section {
  text-align: right;
}

.customized-section button {
  font-family: OpenSans-Bold;
  font-style: normal;
  font-weight: bold;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  color: #0d65b3;
  border: 2px solid #0d65b3;
  box-sizing: border-box;
  padding: 4px 24px;
  border-radius: 4px;
  height: 40px;
}

.card-header-section {
  padding: 38px 43px;
  background: #ffffff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  min-height: 357px;
}

.card-header-title h5 {
  font-family: OpenSans-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 33px;
  color: #000;
}

.card-header-value h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 31.248px;
  line-height: 150%;
  font-family: OpenSans-Bold;
  color: #0d65b3;
}

.card-header-value p {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #8f8f8f;
}

.recent-notification-section {
  padding: 26px 43px;
  background: #ffffff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.recent-notification-title h3 {
  font-family: OpenSans-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
  color: #000;
}

.view-btnsection {
  text-align: right;
}

.view-btnsection button {
  background: #0d65b3;
  border-radius: 4px;
  height: 40px;
  padding-left: 24px;
  border: none;
  padding-right: 24px;
  font-family: OpenSans-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #fbfbfb;
}

.anniversary-section-dashboard {
  padding: 25px 34px 20px;
  background: #ffffff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  min-height: 357px;
}

.anniversary-section-dashboard h3 {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 27px;
  color: #0d65b3;
}

.anniversary-section-value h3 {
  font-family: OpenSans-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
  color: #000;
  margin-bottom: 8px;
}

.anniversary-section-value p {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #8f8f8f;
  margin-bottom: 24px;
}

.date-section h5 {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #000;
}

.seemoresection-dashboard {
  text-align: right;
}

.seemoresection-dashboard h6 {
  font-family: OpenSans-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #0d65b3;
  padding-top: 5px;
}

.seemoresection-dashboard h6 img {
  margin-left: 9px;
}

.task-section {
  padding: 30px 26px;
  background: #ffffff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  min-height: 337px;
}

.assign-section {
  margin-bottom: 24px;
  position: relative;
}

.assign-section h4 {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #000000;
  margin-bottom: 3px;
}

.assign-section p {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #8f8f8f;
}

.rightarrow-task {
  position: absolute;
  right: -2px;
  top: 18px;
}

.chat-dashboard-section {
  padding: 25px 40px 20px;
  background: #ffffff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  min-height: 295px;
  text-align: center;
}

.chat-dashboard-section h5 {
  margin-top: 28px;
  font-family: OpenSans-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 11px;
  color: #000;
}

.chat-dashboard-section img {}

.chat-dashboard-section p {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #000;
  margin-bottom: 51px;
}

.chat-dashboard-section button {
  background: #0d65b3;
  border-radius: 4px;
  height: 40px;
  padding-left: 24px;
  border: none;
  padding-right: 24px;
  font-family: OpenSans-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #fbfbfb;
}

.notes-dashboard-section {
  padding: 25px 40px 20px;
  background: #ffffff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  min-height: 295px;
}

li {
  list-style-type: none;
}

.notes-section {
  position: relative;
}

.notes-section img {
  margin-right: 5px;
  position: absolute;
  left: 0;
  top: 6px;
}

.notes-section li {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #000;
  padding-left: 15px;
}

.calendar-dashboard-section {
  padding: 25px 40px 20px;
  background: #ffffff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  min-height: 295px;
}

.month-secion {
  text-align: center;
  padding-bottom: 18px;
}

.month-secion a {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #8f8f8f;
  margin-right: 6px;
  margin-left: 6px;
}

.active-section {
  color: #000 !important;
}

.date-value {
  background: #f2f2f2;
  border-radius: 10px;
  height: 88px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.date-value h4 {
  font-family: OpenSans-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 31.248px;
  line-height: 150%;
  color: #8f8f8f;
  margin: 0;
}

.date-value p {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #8f8f8f;
}

.meeting-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 34px;
  padding: 0 25px;
}

.meeting-section ul {
  padding: 0;
  margin: 0;
}

.meeting-section .conten-section {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #000;
}

.bg-radius {
  width: 30px;
}

.meeting-section .round-clour {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-right: 17px;
  position: relative;
  top: 5px;
}

.meeting-section .orange-color {
  background-color: #ff8f1f;
}

.meeting-section .blue-color {
  background-color: #2282d6;
}

.meeting-section .green-color {
  background-color: #03850b;
}

.meeting-section .time-section {
  margin-right: 17px;
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #000;
}

.meeting-section ul li span {
  margin-right: 13px;
}

.br-rigth {
  border-right: 1px solid #dedede;
}

.rightarrow {
  position: absolute;
  right: 0;
  top: 50%;
}

.calendar-section-seemore h6 {
  font-size: 16px;
  line-height: 125%;
}

.progress-dashboard-section {
  background: #ffffff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  min-height: 295px;
  padding: 25px 45px 20px;
}

.progress-detail {}

.progress-detail h4 {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 0;
  color: #000000;
}

.progress-detail p {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #8f8f8f;
}

.progress-process .progress {
  height: 12px;
}

.progress-value {
  position: absolute;
  right: -32px;
  top: 19px;
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 125%;
  color: #8f8f8f;
}

.progress-process h6 {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 125%;
  color: #000;
}

.client-information-section-info {
  margin-bottom: 33px;
}

.client-information-section-info h6 {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 18.06px;
  line-height: 28px;
  color: #000;
  margin: 0;
}

.client-information-section-info p, .date-section-info p {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #000;
  margin: 0;
}

.date-section-info p {
  margin-top: -10px;
}

.userPicSection-info img {
  width: 53px;
  border-radius: 50%;
  height: 53px;
  margin-bottom: 33px;
}

.recent-activity-info p {
  font-family: OpenSans-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 125%;
  color: #000;
}

.chat-support-info {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  text-align: center;
}

.chat-support-info button {
  padding: 4px 24px;
  height: 40px;
  background: #004785;
  border-radius: 4px;
  font-family: OpenSans-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FBFBFB;
  border: none;
}

@media screen and (min-width: 1441px) {
  .sidebar-left {
    width: 100%;
  }
  .common-mr-pd {
    padding-left: 42px;
    padding-top: 45px;
    padding-right: 42px;
  }
}

@media screen and (max-width: 1200px) {
  .col-30 {
    max-width: 200px !important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
  }
  .sidebar-left {
    width: 100%;
  }
  .fliter-issue button:first-child {
    margin-right: 5px;
  }
  .search-box {
    width: 100%;
  }
  .search-box input {
    width: 100%;
  }
  .nav-list li a {
    padding-left: 20px;
  }
  .nav-list li a span {
    padding-left: 30px;
  }
  .fliter-issue button {
    font-size: 14px;
    line-height: 16px;
  }
  .common-mr-pd {
    padding: 15px;
  }
  .table thead th {
    width: 10%;
  }
}

@media screen and (max-width: 992px) {
  .order-second {
    order: 2;
    position: fixed !important;
    bottom: 0;
    height: 70px;
    z-index: 1;
    right: 0;
    left: 0;
  }
  .sidebar-left {
    max-width: 100%;
    width: 100%;
  }
  .logo-section {
    display: none;
  }
  .nav-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .d-none-view {
    display: none;
  }
  .active-nav-item {
    border-top: 5px solid #8dc6f7;
    border-left: none;
  }
  .nav-list li {
    width: 50%;
    text-align: center;
    height: 61px;
    line-height: 53px;
  }
  .nav-list li a {
    padding: 20px;
  }
  .nav-list li a img {
    margin: 0;
  }
  .tab-custom-content {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .nav-custom-pills {
    text-overflow: ellipsis;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap !important;
    height: 89px;
  }
  .nav-item .active:before {
    height: 26px;
  }
  .search-box {
    border: 1px solid #c7c7c7;
  }
  .common-pd {
    padding-top: 15px;
  }
  .background-color-res {
    background: #fbfbfb;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    min-height: 94px;
    padding: 10px 0;
    margin-bottom: 15px;
  }
  .owner-section h3 {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16.5px;
    line-height: 28px;
    color: #091a29;
    margin: 0;
  }
  .owner-section h5 {
    font-family: OpenSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #091a29;
    margin: 0;
  }
  .arrow-dwonsection img {
    margin-bottom: 23px;
  }
  .value-section h4 {
    font-family: OpenSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #091a29;
  }
  .responsive-block {
    display: block !important;
  }
  .desktop-block {
    display: none !important;
  }
  .fliter-issue {
    margin-bottom: 20px;
  }
  .fliter-issue button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .col-82, .col-30 {
    max-width: 100% !important;
    flex: 0 0 100%;
  }
  .fliter-issue {
    margin-top: 20px;
    text-align: left;
    margin-bottom: 10px;
  }
  .fliter-issue button {
    font-size: 16px;
    line-height: 24px;
  }
  .fliter-issue button:first-child {
    margin-right: 12px;
  }
  .contract-title-name h2 {
    font-size: 25.01px;
    line-height: 36px;
  }
  .fliter-issue button {
    padding: 0 12px;
  }
  .filter-component {
    display: none;
  }
  .fliter-icon-2 {
    display: inline-block;
    margin-left: 12px;
  }
  .fliter-icon-1 {
    display: none;
  }
  .custom-map-modal .modal-content {
    padding: 15px;
  }
  .setting-icon {
    display: block;
  }
  .btn-setting button span {
    display: none;
  }
  .fliter-issue button span {
    font-family: OpenSans-Regular;
    font-weight: normal;
  }
  .column-width-pills {
    margin-top: 18px;
  }
}

/* navigation css */

.row-height-supportsection {
  padding: 15px;
}

@media screen and (max-width: 575px) {
  .userPicSection {
    text-align: left;
  }
  .date-section {
    margin-top: 10px;
  }
}

@media screen and (max-width: 413px) {
  .fliter-issue button {
    font-size: 14px;
    line-height: 16px;
  }
  .contract-title-name h2 {
    font-size: 19.01px;
    line-height: 22px;
  }
}

@media screen and (max-width: 340px) {
  .fliter-issue button {
    font-size: 11px;
    line-height: 13px;
    height: 38px;
  }
}

/* jqury */